/* ---------------- Root ---------------- */

:root {
    /* 灰階 */
    --gray-BG: hsl(0, 0%, 90%);
    --gray-light: hsl(0, 0%, 80%);
    --gray-mid:hsl(0, 0%, 45%) ;
    --gray-dark:hsl(0, 0%, 30%) ;
    --gray-black:hsl(0, 0%, 20%) ;

    /* font color */
    --white-100: rgba(255, 255,255, 1);
    --white-80: rgba(255, 255,255, .8);
    --white-50: rgba(255, 255,255, .5);
    --white-20: rgba(255, 255,255, .2);

    --black-100: rgba(0, 0, 0, 1);
    --black-80: rgba(0, 0, 0, .8);
    --black-50: rgba(0, 0, 0, .5);
    --black-20: rgba(0, 0, 0, .2);

    --primary-50:  #4896aa;
    --primary-100: #4896aa;
    --primary-200: #bedde3;
    --primary-300: #91c4cf;
    --primary-400: #5ca3b4;
    --primary-500: #4896aa;
    --primary-600: #396f81;
    --primary-700: #335c6b;
    --primary-800: #304e5a;
    --primary-900: #2c424d;
    --primary-950: #192a33;

    --secondary-50:  #f8f7f4;
    --secondary-100: #efede5;
    --secondary-200: #e6e2d6;
    --secondary-300: #cac0a7;
    --secondary-400: #b3a384;
    --secondary-500: #a48e6b;
    --secondary-600: #977e5f;
    --secondary-700: #7e6850;
    --secondary-800: #675545;
    --secondary-900: #54473a;
    --secondary-950: #2c241e;
}

.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}
.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}
.text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}
.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}
.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}
.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.font-light {
    font-weight: 300;
}
.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.paragraph-1 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    margin-bottom: 15px;
}

.paragraph-2 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    margin-bottom: 12px;
}

.paragraph-3 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    margin-bottom: 10px;
}

.paragraph-4 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    margin-bottom: 9px;
}
.paragraph-5 {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    margin-bottom: 8px;
}
.paragraph-6 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    margin-bottom: 7px;
}
/* ---------------- Gobal ---------------- */

.d-flex {
    display: flex;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F2F3F3;
    font-family: "Noto Sans TC", sans-serif;
}

.section {
    padding: 40px  120px;
}

@media screen and (max-width:1024px) {
    .section {
        padding: 20px 40px;
    }
}

@media screen and (max-width:768px) {
    .section {
        padding: 40px 40px;
    }
}

.container {
    padding-bottom: 80px;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* ---------------- Gobal ---------------- */

.navbar {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 120px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.12);
    border-bottom: 1px solid #ccc;
    backdrop-filter: blur(5px);
}

@media screen and (max-width:1024px) {
    .navbar {
        padding: 20px 40px;
    }
}

@media screen and (max-width:768px) {
    .navbar {
        padding: 16px 40px;
    }
}

.nav-list {
    display: flex;
    gap: 4px;
}

.nav-list li a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.nav-list li a.button-CTA {
    border-radius: 6px;
    background: var(--black-100);
    color: #fff;
}

.nav-list li:hover {
    font-weight: 500;
}

.nav-drawer {
    display: none;
    font-size: 32px;
    border: none;
    cursor: pointer;
    background: none;
    color: #000;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 40px;
        background-color: #fff;
        border-color: #333;
        border-radius: 4px;
        padding: 8px;
        box-shadow: 0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-drawer {
        display: block;
    }

    .nav-list li {
        padding: 16px 40px;
    }

    .nav-list li a {
        padding: 0;
    }

    .nav-list li:hover {
        background-color: rgba(0, 0, 0, .05);
    }

    .nav-list li a.button-CTA {
        background: none;
        color: #000;
    }

    .nav-list li a.button-CTA:hover {
        background-color: none;
    }
}

#works {
    scroll-margin-top: 78px;
}
#resume {
    scroll-margin-top: 78px;
}

.banner {
    background-image: url(Images/cover.png);
    object-fit: cover;
    height: 380px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    box-shadow: 0px -2px 8px 0px rgba(60, 64, 67, 0.12);
    border-bottom: 1px solid #ccc;

}

@media screen and (max-width:1024px) {
    .banner {
        padding: 20px 40px;
    }
}

@media screen and (max-width:768px) {
    .banner {
        padding: 20px 40px;
    }
}

.banner-text {
    margin-top: 80px;
    h2 {
        font-family: "Afacad", sans-serif;
        /* font-style: italic; */
        font-size: 48px;
        line-height: 2.8rem;
        margin: 10px 0;
    }
}

@media screen and (max-width:768px) {
    .banner-text {
        h2 {
            font-size: 42px;
        }
    }
}

.container__works {
    padding-bottom: 0;
}

.works__heading {
    margin: 40px 0;
}

.works__col-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

@media screen and (max-width:1024px) {
    .works__col-group {
        display: flex;
        flex-direction: column;
    }
}


.works__card {
    width: 100%;
    img {
        border-radius: 24px;
        vertical-align: top;
        width: 100%;
    }
}

.works__button {
    padding: 16px 24px;
    margin: 40px 0;
    display: inline-block;
    border: 2px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}


.container__resume {
    padding: 40px 80px;
    max-width: 1000px;
    border-radius: 40px;
    background: #fff;   
}

@media screen and (max-width:1024px) {
    .container__resume {
        padding: 40px;
    }
}

@media screen and (max-width:768px) {
    .container__resume {
        padding: 40px;
    }
}

.resume__heading {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 20px;
    img {
        border-radius: 20px;
        width: 50%;
        max-width: 320px;
    }
}

@media screen and (max-width:768px) {
    .resume__heading {
        flex-direction: column;
        align-items: flex-start;
        img {
            width: 100%;
        }
    }
}

.resume__title {
    padding-bottom: 8px;
    margin: 16px 0 10px;
    border-bottom: 1px solid #ccc;
    color: var(--primary-700);
    font-family: "Afacad", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.resume__col-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
}

@media screen and (max-width:768px) {
    .resume__col-group {
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: 1fr;    
    }
}

.work-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px 0;
}

@media screen and (max-width:768px) {
    .work-block {
        /* display: flex; */
        /* flex-direction: column; */
    }
}

@media screen and (max-width:600px) {
    .work-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}



.work-block__heading {
    width: 150px;
}

.work-block__content {
    margin-top: 4px;
}

.list-item {
    /* text-indent: rem; */
}

.list-item::before {
    content: '▪';
    font-size: 1rem;
    margin-left: -1rem;
}

.tag {
    display: inline-block;
    color: var(--black-50);
    padding: 2px 6px;
    border-radius: 2px;
    background: rgb(51, 51, 51, .08);
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
}

.copyright-text {
    color: var(--black-50);
}